<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0 Copyright © 2018-2020 Headsoft. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.Headsoft.USBPorts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBPorts</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>MacBookPro12,1-XHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>XHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9cb18086</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIWPT</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>5100</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>5100</integer>
				<key>port-count</key>
				<data>DwAAAA==</data>
				<key>ports</key>
				<dict>
					<key>HSP0</key>
					<dict>
						<key>Comment</key>
						<string>USB 2.0 Device - POWER</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HSP0</string>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>HSP1</key>
					<dict>
						<key>Comment</key>
						<string>USB 2.0 Device</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HSP1</string>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>HSP2</key>
					<dict>
						<key>Comment</key>
						<string>USB 2.0 Device - ThinkPad Dock</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HSP2</string>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
					<key>HSP3</key>
					<dict>
						<key>Comment</key>
						<string>4G The Network Card</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HSP3</string>
						<key>port</key>
						<data>BAAAAA==</data>
					</dict>
					<key>HSP4</key>
					<dict>
						<key>Comment</key>
						<string>Touch Screen</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HSP4</string>
						<key>port</key>
						<data>BQAAAA==</data>
					</dict>
					<key>HSP5</key>
					<dict>
						<key>Comment</key>
						<string>Fingerprint Reader</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HSP5</string>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
					<key>HSP6</key>
					<dict>
						<key>Comment</key>
						<string>Bluetooth</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HSP6</string>
						<key>port</key>
						<data>BwAAAA==</data>
					</dict>
					<key>HSP7</key>
					<dict>
						<key>Comment</key>
						<string>Integrated Camera</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>HSP7</string>
						<key>port</key>
						<data>CAAAAA==</data>
					</dict>
					<key>SSP0</key>
					<dict>
						<key>Comment</key>
						<string>USB 3.0 Device - POWER</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>SSP0</string>
						<key>port</key>
						<data>DAAAAA==</data>
					</dict>
					<key>SSP1</key>
					<dict>
						<key>Comment</key>
						<string>USB 3.0 Device</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>SSP1</string>
						<key>port</key>
						<data>DQAAAA==</data>
					</dict>
					<key>SSP2</key>
					<dict>
						<key>Comment</key>
						<string>USB 3.0 Device - ThinkPad Dock</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>SSP2</string>
						<key>port</key>
						<data>DgAAAA==</data>
					</dict>
					<key>SSP3</key>
					<dict>
						<key>Comment</key>
						<string>Smart Card</string>
						<key>UsbConnector</key>
						<integer>2</integer>
						<key>name</key>
						<string>SSP3</string>
						<key>port</key>
						<data>DwAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacBookPro12,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
